/* Global page and element settings ----------------------------------------------------- */
body {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  background: #FFFFFF;
}

/* Colors */
.dark-blue {
  color: #20364c !important;
}

#badge-more {
  background-color: #1585cf;
  color: white;
  cursor: pointer;
}

/* Font style */
.montserrat {
  font-family: "Montserrat", Helvetica, sans-serif !important;
}


/* Work Exp area -------------------------------------------------------------------- */
#workex {
  list-style-type: none;
  padding-left: 0;
}

#workex li {
  margin-bottom: 1rem;
}

.workplace {
  color: gray;
}

/* Degree area -------------------------------------------------------------------- */
#education {
  list-style-type: none;
  padding-left: 0;
}

#education li {
  margin-bottom: 1rem;
}

.university {
  color: gray;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Helvetica, sans-serif;
  color: #20364c;
  font-weight: 500;
}

h1 {
  margin-bottom: 4rem;
}

h2, h3 {
  margin: 0 0 2rem !important;
  color: slategray;
}

h4 {
  text-transform: uppercase;
}

h4, h5, h6 {
  color: slategray !important;
}

.panel-heading h5 {
  font-style: italic;
  font-weight: 500;
  color: #1585cf !important;
}

#projects .panel-heading h5 {
  font-weight: 500;
  color: darkslategray !important;
}

p, table, tr, td, ul, li, blockquote, nav, a, footer, dl, dt, dd {
  font-size: 1.5rem;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
}

dt {
  font-weight: 600;
}

blockquote {
  border-left-color: slategray;
  color: slategray;
}

blockquote blockquote {
  border-left: none;
  margin: 1.5rem;
  font-style: italic;
}

cite {
  font-size: 1.5rem !important;
  display: block;
  margin-top: 1rem;
}

p {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

blockquote footer {
  margin-top: 1.5rem;
  margin-left: 2rem;
  text-indent: -1.8rem;
}

.publications {
  list-style-type: none;
  padding-left: 2.5rem;
}

.publications li {
  margin-left: 2rem;
  text-indent: -2.5rem;
  ;
}

/* Links */
#main-container a {
  color: #1585cf;
  font-weight: 500;
}

#main-container a:hover {
  color: #1585cf;
  border-bottom: 1px dashed #1585cf;
  text-decoration: none;
  padding-bottom: 2px;
}

/* Contact info area, index.html page ------------------------------------------------- */
#title {
  color: #20364c;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
}

#program {
  color: gray;
  text-align: center;
}

iframe {
  padding: 3px;
  border: 1px solid lightgray;
}

/* Format the nav  ---------------------------------------------------------- */
nav {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #222 !important;
}

.navbar-default .navbar-nav>li>a {
  color: #20364c;
  font-weight: 500;
}

.nav .montserrat:hover,
.nav .montserrat:focus-within,
.nav .montserrat:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus-within,
.navbar-inverse .navbar-nav>li>a:focus {
  background: white !important;
  border-radius: 1px;
  color: #20364c !important;
}

.navbar-default .navbar-nav>li>a:active {
  background: white !important;
}

@media only screen and (min-width: 768px) {
  .navbar-default .navbar-nav>.open>a {
    background: white !important;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
  }

  /* hover effects */
  /* Bubble Bottom */
  .hvr-bubble-bottom {
    display: inline-block;
    vertical-align: bottom;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
  }

  .hvr-bubble-bottom:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    left: calc(50% - 10px);
    bottom: 0;
    border-width: 10px 10px 0 10px;
    border-color: white transparent transparent transparent;
  }

  .hvr-bubble-bottom:hover:before, .hvr-bubble-bottom:focus:before, .hvr-bubble-bottom:active:before {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: darkslategray !important;
  }

  .theme-toggle-li {
    padding: 8px 15px;
  }
}

.navbar-inverse {
  background: #20364c;
}

.navbar-brand {
  font-size: 1.80rem !important;
  font-weight: 500;
  color: white !important;
}

/* Navbar link size */
.navbar-default .navbar-nav>li>a {
  font-size: 1.5rem !important;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar {
  border-radius: 0;
}

.theme-toggle-li {
  padding-top: 8px;
  padding-left: 10px;
}

.theme-toggle-btn {
  border-color: #a7b7c8;
  color: #20364c;
  font-size: 1.4rem;
  font-weight: 500;
  background: #ffffff;
  width: 34px;
  height: 34px;
  min-width: 34px;
  min-height: 34px;
  border-radius: 50%;
  padding: 0;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle-btn:hover,
.theme-toggle-btn:focus {
  background: #f3f7fb;
  border-color: #9eb0c2;
  color: #20364c;
}

.active {
  /* background: white; */
  border-radius: 2px;
}

.navbar .dropdown-menu {
  margin-right: -1px;
}

/* Utility classes for positioning content ----------------------------------- */
.padding-left-1 {
  padding-left: 1rem !important;
}

.padding-left-2 {
  padding-left: 2rem !important;
}

.push-down-1 {
  margin-top: 1rem !important;
}

.push-down-2 {
  margin-top: 2rem !important;
}

.push-down-3 {
  margin-top: 3rem !important;
}

.push-down-4 {
  margin-top: 4rem !important;
}

.pull-up-1 {
  margin-top: -1rem !important;
}

.pull-up-2 {
  margin-top: -1rem !important;
}

.pull-up-3 {
  margin-top: -1rem !important;
}

.spacer-div-3 {
  height: 45px !important;
}

#link-to-docs,
#link-to-teaching-philosophy {
  color: #1585cf;
}

#link-to-docs:hover,
#link-to-docs:active,
#link-to-docs:visited,
#link-to-docs:focus {
  border: 1px solid #1585cf !important;
  padding-bottom: 6px !important;
  background: transparent !important;
}

/* Setting Lines after headers */
h3 {
  position: relative;
}

h3 span {
  background-color: white;
  padding-right: 10px;
}

h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 2px solid slategray;
  z-index: -1;
}

/* Format the footer ---------------------------------------------------------- */
footer {
  padding-bottom: 2rem;
}

/* Format the social-professional network icons ------------------------------ */
.social-icons {
  list-style-type: none;
}

.social-icons li {
  padding-left: 2rem;
  display: inline-block;
}

.social-icons li a {
  color: #1585cf;
}

.social-icons li a:hover {
  opacity: .8;
  text-decoration: none !important;
}

/* Projects page --------------------------------------------------------- */
#projects .panel {
  margin-left: 2rem;
}

#projects .panel-default {
  border-radius: 3px;
}

#projects .panel-default {
  border-radius: 3px;
}

#projects .panel-heading {
  border-bottom: none;
}

#projects .panel-heading,
#projects .panel-footer {
  text-align: center;
  background: #F6F7FB;
  padding: 2rem;
}

#projects .panel-footer {
  border-top: none;
}

#projects .panel-heading h5 {
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
}

.panel-default .panel-heading a:hover {
  padding-bottom: 0px !important;
}

/* All Links panels ---------------------------------------------- */
#links .panel-default {
  border-radius: 0;
  padding: 0;
  border: none;
  box-shadow: none;
}

#links .panel-heading {
  border-bottom: none;
}

#links img {
  margin-right: 3rem;
  margin-bottom: 2rem;
  width: 100px;
  padding: 3px;
  border: 1px solid silver;
}

/* Lists ------------------------------------------------------------- */
/* Add bottom margin to the description lists */
dd {
  margin-bottom: 1rem;
}

/* Set the anchor element to display block */
.list-group li a {
  display: block;
}

/* Narrow the viewport ----------------------------------------------- */
/* Customize container */
@media only screen and (min-width: 767px) {
  .container {
    max-width: 730px;
  }
}

/* Responsive: Portrait tablets and up */
@media only screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .container {
    max-width: 900px;
  }
}

/* Accordion panels ----------------------------------------------------- */
/* plus glyph for showing collapsible panels */
.panel-heading .accordion-plus-toggle:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f068";
  float: right;
  color: silver;
}

.panel-heading .accordion-plus-toggle.collapsed:before {
  content: "\f067";
  color: silver;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* arrow glyph for showing collapsible panels */
.panel-heading .accordion-arrow-toggle:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  float: right;
  color: silver;
}

.panel-heading .accordion-arrow-toggle.collapsed:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  color: silver;
}

/* sets the link to the width of the entire panel title */
.panel-title>a {
  display: block;
}

/* Back to top button */

/* Back to top button ----------------------------------------------------- */
#topper {
  display: none;
  position: fixed;
  bottom: 300px;
  right: 0px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #1585cf;
  color: white;
  padding: 12px 6px 12px 6px;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  font-size: 1.6rem;
}

#topper:hover {
  background-color: #1585cf;
  opacity: .8;
}

/* Dark mode ----------------------------------------------------- */
body.dark-mode {
  background: #0f1723;
  color: #d9e2ee;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode #title,
body.dark-mode .dark-blue {
  color: #e6edf7 !important;
}

body.dark-mode p,
body.dark-mode li,
body.dark-mode td,
body.dark-mode tr,
body.dark-mode dt,
body.dark-mode dd,
body.dark-mode blockquote,
body.dark-mode table {
  color: #d9e2ee;
}

body.dark-mode .university,
body.dark-mode .workplace,
body.dark-mode #program {
  color: #9fb0c2;
}

body.dark-mode #main-container a,
body.dark-mode .social-icons li a {
  color: #7cc7ff;
}

body.dark-mode #main-container a:hover {
  color: #9bd6ff;
  border-bottom: 1px dashed #9bd6ff;
}

body.dark-mode h3 span {
  background-color: #0f1723;
}

body.dark-mode h3:after {
  border-top: 2px solid #44556c;
}

body.dark-mode .table {
  background: #172334;
}

body.dark-mode .table > tbody > tr > td {
  border-top-color: #2a3a4f;
}

body.dark-mode .img-thumbnail {
  background-color: #122033;
  border-color: #34465e;
}

body.dark-mode .news-container {
  background-color: #162234;
  border-color: #33475f;
}

body.dark-mode .news-container::-webkit-scrollbar-track {
  background: #1c2b3f;
}

body.dark-mode .news-container::-webkit-scrollbar-thumb {
  background: #4f6280;
}

body.dark-mode nav,
body.dark-mode .navbar-inverse {
  background: #0a111b !important;
}

body.dark-mode .navbar-brand,
body.dark-mode .navbar-inverse .navbar-nav > li > a {
  color: #d9e2ee !important;
}

body.dark-mode .nav .montserrat:hover,
body.dark-mode .nav .montserrat:focus-within,
body.dark-mode .nav .montserrat:focus,
body.dark-mode .navbar-inverse .navbar-nav > li > a:hover,
body.dark-mode .navbar-inverse .navbar-nav > li > a:focus-within,
body.dark-mode .navbar-inverse .navbar-nav > li > a:focus {
  background: #1a2738 !important;
  color: #e6edf7 !important;
}

body.dark-mode .theme-toggle-btn {
  background: #1f2d40;
  border-color: #4f6788;
  color: #ffd469;
}

body.dark-mode .theme-toggle-btn:hover,
body.dark-mode .theme-toggle-btn:focus {
  background: #2a3b53;
  border-color: #5e78a0;
  color: #ffe08a;
}
